[user]
  email = jimnewpower@gmail.com
	name = Jim Newpower

[color "status"]
    added = green
    changed = yellow
    untracked = cyan

[alias]
     # hist = one-line per commit log
     hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

     # logv = log + names and status of changed files
     logv = log --name-status

     # stat = short status
     stat = status -s

     # tags = verbose tag list
     # %C(auto) = turn on auto coloring
     # %h = short hash
     # %cd = committer date (format respects --date= option)
     # %d = ref names, like the --decorate option
     # %s = subject
     tags = log --tags --no-walk --date=format:%Y-%m-%dT%H:%M:%S --pretty='%C(auto)%h %cd%d %s'
